.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
out/test/**
test/**
.eslintrc.json
eslint.config.mjs
node_modules/**
!node_modules/marked/**
!node_modules/glob/**
!node_modules/mocha/**
.git/**
.github/**
screenshots/**
docs/**
examples/**
